h2,
h3 {
    margin-top: 20px;
}

label {
    margin-bottom: 5px;
}

.card {
    border-radius: 12px;
}

.btn {
    padding: 10px 20px;
}

.required{
    color: red;
}
input.ng-invalid.ng-touched
{
    border: 1px solid red;
}